<div class="container margenPequeno" id="about">
  <h3 class="text-start">Sobre mi</h3>
  <p>
    ¡Hola! Soy un apasionado del desarrollo de aplicaciones y me encanta la programación de videojuegos.
    Me encanta crear sitios web dinámicos y experiencias de juego inmersivas utilizando herramientas como HTML, CSS,
    Angular y Godot.
    Siempre estoy aprendiendo y experimentando con nuevas tecnologías para mejorar mis habilidades.
  </p>
  <h6 class="text-start">Contactame a mi correo</h6>
  <h6 class="text-start">juanka5200&#64;outlook.com</h6>
  <div class="linea-final"></div>
  <h3 class="text-center">Estudios</h3>
  <div class="container text-center">
    <div class="row ">
      <div class="col d-flex justify-content-center">
        <div class="card cardWidth card-hover">
          <div class="card-header text-bg-secondary mb-3">Universidad</div>
          <div class="card-body">
            <p class="card-text">Ingeniería en Ciencias de la Computación</p>
            <br>
            <p class="card-text">UNIVERSIDAD TECNOLÓGICA INDOAMÉRICA</p>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="card cardWidth card-hover">
          <div class="card-header text-bg-secondary mb-3">Certificado</div>
          <div class="card-body  ">
            <p class="card-text">Mobile Application Developer 2.0 Http And Mqtt</p>
            <br>
            <p class="card-text">UNIVERSIDAD TECNOLÓGICA INDOAMÉRICA</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="linea-final"></div>
  <h3 class="text-center">Habilidades</h3>
  <div class="card border-dark mb-1">
    <div class="card-body d-flex justify-content-center">
      <img src="angular.png" alt="Description of image" class="flexfluid icoProgramacion mx-2" />
      <img src="boot.png" alt="Description of image" class="flexfluid icoProgramacion mx-2" />
      <img src="nodejs.png" alt="Description of image" class="flexfluid icoProgramacion mx-2" />
      <img src="Net.png" alt="Description of image" class="flexfluid icoProgramacion mx-2" />
      <img src="mysql2.png" alt="Description of image" class="flexfluid icoProgramacion mx-2" />
    </div>
  </div>
</div>