<div class="container margenPequeno" id="experiencia">
    <h3 class="text-start">Experiencia</h3>
    <div class="card ">
        <h5 class="card-header text-bg-secondary">Soporte técnico de software e infraestructura</h5>
        <div class="card-body">
            <h5 class="card-title text-start">Incomis</h5>
            <p class="card-text text-start">Mantenimiento y corrección de errores para diferentes
                sistemas empresariales en hardware y software en la empresa de tecnología de la información
                <strong>Incomis</strong> en la ciudad de Ambato, Ecuador.</p>
        </div>
    </div>
</div>