<div class="container margen " id="home">
    <div class="row">
        <div class="col-md-5 margenBottom">
            <img src="selfie2.png" alt="Foto mía" class="flexfluid imgPersonal margenLeft" />
        </div>
        <div class="col-md-6 align-self-center">
            <h6>
                Hola!<img src="hola.png" alt="Description of image" class="flexfluid icoPersonal mx-1 " />soy
            </h6>
            <h2>Juan Carlos Soberón</h2>
            <h6>Desarrrollador</h6>
            <a download="CVJuan__Soberon.pdf" href="CVJuan_Soberon.pdf" title="Descargar CV">
                <button type="button" class="btn btn-secondary btn-sm my-2">Descargar CV</button>
            </a>
            
            <br>
            <a href="https://www.linkedin.com/in/juan-sober%C3%B3n-573446277" target="_blank" title="linkedin">
                <i class="bi bi-linkedin mx-2 whiteIcon icono"></i>
            </a>
            <a href="https://github.com/juankasobe" target="_blank" title="github">
                <i class="bi bi-github mx-1 whiteIcon icono"></i>
            </a>
        </div>
    </div>
</div>