<div class="container" id="proyectos">
      <h3 class="text-center">Proyectos</h3>
      <div class="row row-cols-md-2">
            <div class="col">
                  <div class="card cardPropia card-hover">
                        <div class="d-flex justify-content-center mt-1 ">
                              <img src="app.png" class="card-img-top imgPersonal" alt="appHome">
                        </div>
                        <div class="card-body">
                              <h5 class="card-title">App de domótica</h5>
                              <p class="card-text">Aplicación para dispositivos android de control de luces
                                    inteligentes.
                              </p>
                              <a href="https://github.com/juankasobe/smartHome.git" target="_blank" title="github">
                                    <i class="bi bi-github mx-1 whiteIcon icono"></i>
                              </a>
                              <img src="ionic.png" alt="Description of image" class="flexfluid icoPersonal mx-1 " />
                        </div>
                  </div>
            </div>
            <div class="col">
                  <div class="card cardPropia card-hover" >
                        <img src="juego.png" class="d-flex justify-content-center " alt="Juego Mario vs DK">
                        <div class="card-body">
                              <h5 class="card-title">Demo Juego de mario vs DK</h5>
                              <p class="card-text">
                                    Nivel de videojuego inspirado en Mario vs DK realizado en
                                    godot.
                              </p>
                              <img src="godot.png" alt="Description of image" class="flexfluid icoPersonal mx-1 " />
                        </div>
                  </div>
            </div>
      </div>
</div>